<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="~/Content/Themes/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Themes/css/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/Themes/css/style.min.css" rel="stylesheet" />
    <style>


        .map-container {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

            .map-container iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }

        .list-group-item:hover {
            background-color: #4285f4 !important;
        }
    </style>




    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>*@


<body class="grey lighten-3">

    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->
                @*<a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
                        <strong class="blue-text">MDB</strong>
                    </a>*@

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        @*<li class="nav-item active">
                                <a class="nav-link waves-effect" href="#">
                                    Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
                                    About
                                    MDB
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                                   target="_blank">
                                    Free
                                    download
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">
                                    Free
                                    tutorials
                                </a>
                            </li>*@
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                User Name and Surname
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-user"></i> User Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-lock"></i> Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">

            <a class="logo-wrapper waves-effect">
                <img src="~/Content/Themes/img/coollogo_com-124833695.png" class="img-fluid" alt="" />
            </a>

            <div class="list-group list-group-flush">
                <a href="~/User/List" class="list-group-item list-group-item-action waves-effect ">
                    <i class="fas fa-user mr-3"></i>User
                </a>
                <a href="~/Profile/List" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-user mr-3"></i>Profile
                </a>
                <a href="~/Auth/List" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-table mr-3"></i>Auth
                </a>
                <a href="~/ProfileDetail/BatchEdit" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-table mr-3"></i>Profile Detail
                </a>
                <a href="~/MoviesType/List" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-table mr-3"></i>Movies Type
                </a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-money-bill-alt mr-3"></i>Movies
                </a>
                <a href="~/Salon/List" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-money-bill-alt mr-3"></i>Salon
                </a>
                <a href="~/Seance/List" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-money-bill-alt mr-3"></i>Seance
                </a>
            </div>

        </div>
        <!-- Sidebar -->

    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">
            <div class="container body-content">
                <!-- Heading -->
                @*<div class="card mb-4 wow fadeIn">*@
                <!--Card content-->
                @*<div class="card-body d-sm-flex justify-content-between">
                        <h4 class="mb-2 mb-sm-0 pt-1">
                            <span>@ViewBag.Title</span>
                        </h4>
                    </div>*@
                @*</div>*@
                <!-- Heading -->
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Talha Erdoğan</p>
                </footer>
            </div>
        </div>
    </main>
    <!--Main layout-->
    <!--Footer-->
    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">
        <!--Call to action-->

    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Content/Themes/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Content/Themes/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Content/Themes/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/Themes/js/mdb.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

    </script>

    @RenderSection("Scripts", required: false)
</body>








</html>
